header{
    text-align: center;
}
.h1{
    color: red;
}
.registro{
    text-align: center;
    
}
.boton{
    margin:20px;

}
.input2,.input3,.input4,.boton1{
    width:508px;
    height:50px;
    margin-top:30px;
}
.input5{
    width:508px;
    height:50px;
}
.input6,.input7{
    margin-top: 25px;
}
.link{
    float:right;
    padding-bottom: 100px;
}
.fecha{
    padding-top: 10px;
    padding-right: 370px;
    padding-bottom: 5px;
}
.escribir{
    text-align: center;
}
.l1,.l2,.l3{
    padding-right: 420px;

}
nav{
    display: flex;
    justify-content: center;
}
nav a{
    padding: 10px;
    text-decoration: none;}
    